* {
  font-family: 'Montserrat', sans-serif;
  font-family: 'Roboto', sans-serif;
}

header {
  height: 4.375rem;

  background-color: #f8f9fa;
  width: 100%;
}

.row_header {
  background-color: aqua;
  height: 80%;
  width: 100%;
  position: relative;
}

#input_search_color {
  background-color: #e5e5e5;
}

.content {
  background-color: azure;
}

main {
  display: flex;
  height: 100vh;
}

.sidebar {
  display: flex;
  flex-direction: column;
  position: static;
  background-color: #051e34;
  height: 100%;
  width: 10vw;
  justify-content: space-between;
}

.content_sidebar_1 {
  display: flex;
  flex-direction: column;
  border: 1px solid red;

  text-align: center;
  justify-content: end;
}

.btn_sidebar {
  color: white;
}

.content_sidebar_2 {
  border: 1px solid red;

  text-align: center;
}

.container_main {
  overflow: auto;
}

.container_main_1 {
  display: flex;
  width: 100%;

  background-color: chartreuse;
}

.container_main_2_3 {
  border: 1px solid red;
  display: flex;
  width: 100%;
}

.container_main_2 {
  display: flex;
  width: 100%;

  background-color: rgb(47, 71, 23);
}

.container_main_3 {
  display: flex;
  width: 100%;

  background-color: rgb(71, 57, 23);
}
