* {
  font-family: 'Montserrat', sans-serif;
  font-family: 'Roboto', sans-serif;
}

header {
  height: 4.375rem;
  background-color: #f8f9fa;
  width: 100%;
}

.row_header {
  background-color: white;
  height: 80%;
  width: 100%;
  position: relative;
}

#input_search_color,
.input_search_color {
  background-color: #e5e5e5;
}

.content {
  background-color: rgb(255, 255, 255);
}

.header_breakpoint {
  display: flex;
}

main {
  display: flex;
  height: calc(100vh - 4.375rem);
}

.sidebar {
  display: flex;
  flex-direction: column;
  background-color: #051e34;
  display: flex;
  gap: 0.625rem;
  height: calc(100vh - 4.375rem);
  padding: 0.9375rem;
  justify-content: space-between;
  background-image: url(img/sidebar-bg.png);
}

.content_sidebar_1 {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: end;
}

.btn_sidebar {
  color: white;
}

.content_sidebar_2 {
  text-align: center;
}

.main_right {
  background-color: #e5e5e5;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
}

.container_main_right {
  display: flex;
}

.container_main_1 {
  background-color: #1b72e8;
  color: white;
  padding: 1.25rem;
  width: 100%;
}

.col_boolean {
  width: 31.25rem;
}

.btn_1 {
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
}
.btn_student {
  height: 1.875rem;
}

.container_classi,
.container_faq,
.container_todo,
.container_utentiattivi {
  /* border: 1px solid red; */
  padding: 1.25rem;
  background-color: #ffffff;
}

.table_border {
  border: 1px solid gray;
}
.header_table {
  border: 1px solid gray;

  background-color: #d5d5d5;
  min-height: 3.125rem;
  padding: 0.625rem;
}
.img_table {
  height: 1.875rem;
  width: 1.875rem;
}

.border_utenti {
  border: 1px solid gray;
}

.table_stats {
  border: 1px solid gray;
}

#img_resize {
  width: 100%;
}

@media (min-width: 992px) {
  .sidebar {
    width: 13.4375rem;
  }
  .container_main_1 {
    display: flex;
    width: 100%;
  }
  .col_n_s {
    display: flex;
    order: 1;
  }

  .container_main_2 {
    display: flex;
  }
  .container_main_col1 {
    display: flex;
    flex-direction: column;
    width: 50%;
  }
  .container_main_col2 {
    display: flex;
    flex-direction: column;
    width: 50%;
  }

  .container_faq,
  .container_utentiattivi {
    height: 100%;
  }
}

@media (max-width: 768px) {
  .header_breakpoint {
    display: none;
  }
}
